h5{
    background-color: rgb(202, 202, 202);
    font-size: 25px;
    
}

h6{
    text-align: center; 
    
}

#estilo{
    background-color: rgb(240, 240, 240);
    
}

 .navbar{
     background-color: rgb(202, 202, 202);
     padding: 20px;
    
 }

 p{
     text-align: center;
     

 }

 h1{
     text-align: center;
     
 }

